<div class="container">
<h2 align="center"><%= current_user.username%>'s Projects</h2>




<table class="table table-striped">
<tr align="center">
     <th>Project Name</th>
     
    
  </tr>
<% if current_user.role == 'manager'%>
<% current_user.created_projects.each do |p|%>

  <tr align="center">
     <td><%= p.projectname%></td>
     <% if current_user.role == 'manager'%>
        <td><%= link_to "Edit Project", edit_project_path(p), :class => "btn btn-outline-primary"%></td>
        <td><%= link_to "Delete Project", project_path(p), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-outline-danger" %></td>
     <%end%>

     
  </tr>
  <% end %> 
<% end %> 


<% if current_user.role == 'qa'%>
<% current_user.projects.each do |p|%>

  <tr align="center">
     <td><%= p.projectname%></td>
     <% if current_user.role == 'manager'%>
        <td><%= link_to "Edit Project", edit_project_path(p), :class => "btn btn-outline-primary"%></td>
        <td><%= link_to "Delete Project", project_path(p), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-outline-danger" %></td>
     <%end%>

     
  </tr>
  <% end %> 
<% end %> 

<% if current_user.role == 'developer'%>
<% current_user.projects.each do |p|%>

  <tr align="center">
     <td><%= p.projectname%></td>
     <% if current_user.role == 'manager'%>
        <td><%= link_to "Edit Project", edit_project_path(p), :class => "btn btn-outline-primary"%></td>
        <td><%= link_to "Delete Project", project_path(p), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-outline-danger" %></td>
     <%end%>

     
  </tr>
  <% end %> 
<% end %> 
</table>


    

</div>

